name: aethersjournal

services:
  db:
    image: postgres:16
    container_name: aethers-journal-db
    restart: always
    ports:
      - "5432:5432"       
    environment:
      POSTGRES_USER: aetheruser
      POSTGRES_PASSWORD: aetherpassword
      POSTGRES_DB: aethersjournaldb
    volumes:
      - postgres_data:/var/lib/postgresql/data
      
volumes:
  postgres_data:
