<div id="chatbox-button">
    <div class="button"></div>
</div>

<div id="chatbox-body">
    <div id="chatbox-content">
        <div class="ai-message">Enter any thoughts here and I will respond!</div>
    </div>
    <div id="chatbox-input-container">
        <input id="chatbox-input" type="text">
        <div id="chatbox-send"></div>
    </div>
</div>

@code {

}