<script defer src="/js/TextEditor.js"></script>

<div class="text-main">
    <input type="text" name="title" id="main-title" placeholder="Title">
    <div contenteditable="true" id="main-text-content" placeholder="Description" onpaste="handlePaste(event)">
    </div>
</div>

<div class="text-controller">

</div>

@code {

}