<script defer src="/js/TextEditor.js"></script>

<div class="text-main">
    <div class="main-header">
        <input type="text" name="title" id="main-title" placeholder="Title">

        <div class="text-controller">
            <div class="open-controller">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff">
                    <path
                        d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" />
                </svg>
            </div>
            <div class="controller">
                <div onclick="TextEditor.handleFormat(event)" class="set-bold" data-attribute="bold">
                </div>
                <div onclick="TextEditor.checkContainer(event)" class="set-italic" data-attribute="italic">
                </div>
                <div onclick="TextEditor.handleFormat(event)" class="set-underline" data-attribute="underline">
                </div>
                <div onclick="TextEditor.test(event)" class="set-color" data-attribute="color">
                </div>
            </div>
        </div>
    </div>

    <div @ref="EditorDiv" @oninput="HandleInput" contenteditable="true" id="main-text-content"
        onpaste="TextEditor.handlePaste(event)" onmouseup="TextEditor.saveSelection()"
        onkeyup="TextEditor.saveSelection()" onclick="TextEditor.saveSelection()">
    </div>
</div>

@code {
    [Parameter]
    public string Content { get; set; } = String.Empty;

    [Parameter]
    public EventCallback<string> ContentChanged { get; set; }
    private string _lastRenderContent = String.Empty;
    private bool _contentUpdated = false;
    private ElementReference EditorDiv;

    [Inject] private IJSRuntime JS { get; set; } = default!;

    // Rerender does not seem to work
    // Temporary fix is in Journal.Razor where we hard refresh everytime we go Prev or Next
    protected override void OnParametersSet()
    {
        if (_lastRenderContent != Content)
        {
            _lastRenderContent = Content;
            _contentUpdated = true;
            StateHasChanged();
        }
    }

    // Rerender does not seem to work
    // Temporary fix is in Journal.Razor where we hard refresh everytime we go Prev or Next
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || _contentUpdated)
        {
            await JS.InvokeVoidAsync("TextEditor.setContent", EditorDiv, Content);
            _contentUpdated = false;
        }
    }

    private async Task HandleInput()
    {
        var value = await JS.InvokeAsync<string>("TextEditor.getContent", EditorDiv);

        _lastRenderContent = value;
        Content = value;

        await ContentChanged.InvokeAsync(Content);
    }

    private async Task InsertEntryAsync(string Content)
    {
        await JS.InvokeVoidAsync("TextEditor.setContent", EditorDiv, Content);
    }
}