@page "/journal"
@inject NavigationManager NavManager
@inject JournalService JournalService
@rendermode InteractiveServer

<PageTitle>Journal</PageTitle>

<div class="main-journal-container">
    <div class="journal-header">
        <div class="header-title">
            <div class="title-date">
                <h1 class="date">Sunday, April 20 2025</h1>
                <span class="dropdown"></span>
            </div>
            <div class="title-controller">
                <button class="save" onclick="sendPostRequest()">
                    Save Journal
                </button>
            </div>
        </div>
        <div class="header-controller">
            <a class="navigation" id="navigation-prev" onclick="Previous()">
                &lt Previous
            </a>
            <a class="navigation" id="navigation-next" onclick="Next()">
                Next &gt </a>
        </div>
    </div>

    <div class="journal-contents">
        <TextEditor @bind-Content="content"/>
        <Chatbox />
    </div>
</div>


@code {
    private DateTime selectedDate;
    private string? content;

    protected override async Task OnInitializedAsync()
    {
        this.selectedDate = GetQueryDate();
        JournalEntry? entry = await JournalService.GetEntryForUser(1, this.selectedDate);

        if (entry != null) {
            this.content = entry.Content;
        } else {
            this.content = "";
        }
    }

    private DateTime GetQueryDate() {
        Uri uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        DateTime date;

        if (query.TryGetValue("date", out var dateString) &&
        DateTime.TryParse(dateString, out var parsedDate))
        {
            date = parsedDate.Date;
        }
        else
        {
            date = DateTime.UtcNow.Date;
        }
        
        return date;
    }
}
