@page "/signup"
@rendermode InteractiveServer
@layout EmptyLayout

<div class="signup">
    <div class="signup__form">
        <div class="signup__input-group">
            <div class="signup__name-group signup__inner-input-group">
                <label for="name-input" class="signup__label">Name</label>
                <input type="text" id="name-input" class="signup__input signup__input--name">
            </div>

            <div class="signup__email-group signup__inner-input-group">
                <label for="email-input" class="signup__label">Email</label>
                <input type="text" id="email-input" class="signup__input signup__input--email">
            </div>

            <div class="signup__password-group signup__inner-input-group">
                <label for="password-input" class="signup__label">Password</label>
                <input type="password" id="password-input" class="signup__input signup__input--password">


            </div>
            <div class="signup__reenter-password-group signup__inner-input-group">
                <label for="password-reenter-input" class="signup__label">Re-enter password</label>
                <input type="password" id="password-reenter-input"
                    class="signup__input signup__input--reenter-password">
            </div>
        </div>

        <div class="signup__actions">
            <button class="signup__button signup__button--primary">
                Sign up
            </button>
            <p class="signup__login-subtitle">Already have an account? <a href="/login" class="signup__login-link">Log in</a>
            </p>
        </div>
    </div>
</div>