@page "/"
@rendermode InteractiveServer

@inject NavigationManager NavManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button @onclick="LogoutTest">Logout</button>

@code {
    private void LogoutTest() {
        Console.WriteLine("Home: Logout");
        NavManager.NavigateTo("/auth/process-logout", forceLoad: true);
    }
}