@page "/journal"
@attribute [Authorize]

@* without this, website is static and not responsive *@
@* what happens (tldr): client sent server an event -> server process event 
-> send new HTML after event (generally just the part that rerenders) -> client see change -> yay *@
@rendermode InteractiveServer 

@inject NavigationManager NavManager
@inject JournalService JournalService
@inject JournalStateService JournalStateService

<PageTitle>Journal</PageTitle>
<script defer src="/js/Journal.js"></script>

<div class="main-journal-container">
    <div class="journal-header">
        <div class="header-title">
            <div class="title-date">
                <h1 class="date">@_selectedDate.ToString("dddd, MMMM dd yyyy")</h1>
                <span class="dropdown"></span>
            </div>
            <div class="title-controller">
                <button class="save" @onclick="SaveJournal">
                    Save Journal
                </button>
            </div>
        </div>
        <div class="header-controller">
            <a class="navigation" id="navigation-prev" @onclick="Previous">
                &lt Previous
            </a>
            <a class="navigation" id="navigation-next" @onclick="Next">
                Next &gt </a>
        </div>
    </div>

    <div class="journal-contents">
        <TextEditor @bind-Content="_journalContent" @bind-Title="_journalTitle" @key="_selectedDate" />
        <Chatbox @ref="_chatboxComponent" /> @* @bind-JournalId="_journalId" *@
    </div>

    <div @ref="_saveMessage" class="saving-message">Saving...</div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthState { get; set; } = default!; 
        @* = default!; exists to ensure the compiler that we will always get AuthState (if not, gives a warning saying it may be null even though *technically* it will not) *@
    private ClaimsPrincipal? _user;
    private string? _userId;

    private DateTime _selectedDate;
    private string _journalTitle = String.Empty;
    private string _journalContent = String.Empty;
    private string _journalSummary = String.Empty;
    private int _journalId;
    private Chatbox? _chatboxComponent;
    private ElementReference _saveMessage;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState? authState = await AuthState;
        _user = authState.User;
        _userId = _user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (this._userId == null) return;

        this._selectedDate = GetQueryDate();
        JournalEntry? entry = await JournalService.GetEntryForUser(this._userId, this._selectedDate);
        if (entry != null)
        {
            this._journalContent = entry.Content;
            this._journalTitle = entry.Title;
            this._journalSummary = entry.Summary;
            this._journalId = entry.Id;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_journalId != 0 && _journalSummary != null)
        {
            await JournalStateService.SetJournalInfoAsync(_journalId, _journalSummary);
        }
    }

    private DateTime GetQueryDate()
    {
        Uri uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        DateTime date;

        if (query.TryGetValue("date", out var dateString) &&
        DateTime.TryParse(dateString, out var parsedDate))
        {
            date = DateTime.SpecifyKind(parsedDate.Date, DateTimeKind.Utc);
            // check if the date is ahead of current date
            if (date > DateTime.UtcNow.Date)
            {
                date = DateTime.UtcNow.Date;
                NavManager.NavigateTo("/journal");
            }
        }
        else
        {
            date = DateTime.UtcNow.Date;
        }

        return date;
    }

    protected void Previous()
    {
        this._selectedDate = this._selectedDate.AddDays(-1);
        string formattedDate = this._selectedDate.ToString("yyy-MM-dd");

        NavManager.NavigateTo($"/journal?date={formattedDate}");
        // Temporary Solution to TextEditor not rerendering
        NavManager.Refresh(true);
    }

    protected void Next()
    {
        this._selectedDate = this._selectedDate.AddDays(1);
        string formattedDate = this._selectedDate.ToString("yyy-MM-dd");

        NavManager.NavigateTo($"/journal?date={formattedDate}");
        NavManager.Refresh(true);
    }

    protected async Task SaveJournal()
    {
        await ShowSavingMessage("Saving...");
        JournalEntry entry = await JournalService.SaveOrUpdateAndSummarizeAsync(_userId!, this._journalTitle,
        this._journalContent, this._selectedDate);
        await ShowSavingMessage("Saved!", 2000);
        await JournalService.CreateConversation(_userId!, entry.Id);

        if (this._journalId != entry.Id || JournalStateService.JournalId != entry.Id)
        {
            await JournalStateService.SetJournalInfoAsync(entry.Id, entry.Summary);
        }
    }

    protected async Task ShowSavingMessage(string message, int duration = 1000)
    {
        await JS.InvokeVoidAsync("Journal.showSaveMessage", _saveMessage, message, duration);
    }
    [Inject] private IJSRuntime JS { get; set; } = default!;
}