@page "/login"
@rendermode InteractiveServer
@layout EmptyLayout

@inject SignInManager<User> _signinManager
@inject UserManager<User> _userManager
@inject NavigationManager _navigationManager


<div class="login" @onkeypress="OnEnterPress" >
    <form class="login__form" >
        <div class="login__input-group">
            <div class="login__email-group">
                <label for="email-input" class="login__label">Email</label>
                <input @bind="_email" type="email" id="email-input" class="login__input login__input--email" />
            </div>

            <div class="login__password-group">
                <div class="login__password-header-group">
                    <label for="password-input" class="login__label">Password</label>
                    <p class="login__forgot-link">Forgot password?</p>
                </div>
                <input @bind="_password" type="password" id="password-input"
                    class="login__input login__input--password" />
            </div>
        </div>
        <div class="login__actions-group">
            <div class="login__actions">
                <button type="button" class="login__button login__button--primary" @onclick="OnLoginClick">
                    Sign in
                </button>
                <a href="/register" class="login__signup-link">Create an account</a>
            </div>

            @if (!string.IsNullOrEmpty(_errorMessage))
            {
                <div class="login__error">
                    <p class="login__error-message">@_errorMessage</p>
                </div>
            }
        </div>
    </form>
</div>

@code {
    private string _email = string.Empty;
    private string _password = string.Empty;
    private string _errorMessage = string.Empty;

    private async Task OnLoginClick()
    {
        _errorMessage = string.Empty;

        // check if email or password is empty
        var email = (_email ?? string.Empty).Trim();
        if (string.IsNullOrEmpty(email) || string.IsNullOrEmpty(_password))
        {
            _errorMessage = "Email and Password is required!";
            return;
        }

        // see if user with email exists
        var user = await _userManager.FindByEmailAsync(email);
        if (user == null)
        {
            _errorMessage = "Invalid email or password.";
            return;
        }

        // see if user's password is correct
        var result = await _signinManager.CheckPasswordSignInAsync(user, _password, lockoutOnFailure: false);

        // create an one time token for user (exp time: 1 min)
        if (result.Succeeded)
        {
            var token = await _userManager.GenerateUserTokenAsync(user, TokenOptions.DefaultProvider, "PreLogin");
            
            // redirect to process-login with the token in url
            string url = $"/auth/process-login?uid={Uri.EscapeDataString(user.Id)}&token={Uri.EscapeDataString(token)}";
            _navigationManager.NavigateTo(url, forceLoad: true);
            return;
        }

        _errorMessage = "Invalid email or password.";
    }

    private async Task OnEnterPress(KeyboardEventArgs e) {
        Console.WriteLine("Key press");
        if (e.Key == "Enter") {
            await OnLoginClick();
        }
    }
}
