@rendermode InteractiveServer
@inject SignInManager<User> _signinManager
@inject UserManager<User> _userManager
@inject NavigationManager NavManager

<div class="top-navbar">
    <div class="top-nav-item">
        <a class="navbar-brand" href="">
            <img src="/assets/logo.png" alt="AethersJournal">
        </a>
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-list-calendar-nav-menu" aria-hidden="true"></span> Calendar
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="journal" Match="NavLinkMatch.All">
                <span class="bi bi-list-journal-nav-menu" aria-hidden="true"></span> Journal
            </NavLink>
        </div>
    </nav>


    <div class="nav-item" @onclick="OnLogout">
        <div class="nav-link link-logout">
            <span class="bi bi-logout-nav-menu" aria-hidden="true"></span> Logout
        </div>
    </div>
</div>

@code {
    private void OnLogout()
    {
        Console.WriteLine("Home: Logout");
        NavManager.NavigateTo("/auth/process-logout", forceLoad: true);
    }
}