<script defer src="/js/TextEditor.js"></script>

<div class="text-main">
    <div class="main-header">
        <input @ref="_titleInput" @oninput="HandleTitleInput" type="text" name="title" id="main-title"
            placeholder="Title">
    </div>

    <textarea @ref="_editorDiv" @oninput="HandleContentInput" @onpaste="HandleContentInput" name="textEditor"
        id="main-text-content"></textarea>
</div>

@code {
    [Parameter]
    public string Content { get; set; } = String.Empty;
    [Parameter]
    public string Title { get; set; } = String.Empty;

    [Parameter]
    public EventCallback<string> ContentChanged { get; set; }
    [Parameter]
    public EventCallback<string> TitleChanged { get; set; }

    private ElementReference _editorDiv;
    private ElementReference _titleInput;

    [Inject] private IJSRuntime JS { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await InsertEntryAsync(Content, Title);
        Console.WriteLine("Content:" + Content);
    }

    private async Task HandleContentInput()
    {
        var value = await JS.InvokeAsync<string>("TextEditor.getContent", _editorDiv);
        Content = value;

        await ContentChanged.InvokeAsync(Content);
    }

    private async Task HandleTitleInput()
    {
        var value = await JS.InvokeAsync<string>("TextEditor.getContent", _titleInput);
        Title = value;

        await TitleChanged.InvokeAsync(Title);
    }

    private async Task InsertEntryAsync(string Content, string Title)
    {
        await JS.InvokeVoidAsync("TextEditor.setContent", _editorDiv, Content);
        await JS.InvokeVoidAsync("TextEditor.setContent", _titleInput, Title);
    }
}